:root {
    --primary-purple: #9356dc;
    --secondary-pink: #FF79DA;
    --tertiary-green: #99E2D0;
    --blabla: #fff;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&family=Shrikhand&display=swap');

// MIXINS
//// Gradient buttons
@mixin center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin center-margin {
    margin: 0 auto;
}

// GENERAL CLASSES

body {
    margin: 0;
    padding: 0;
    font-family: 'roboto';
}

h2 {
    font-size: 24px;
    font-weight: 700;
    font-family: 'roboto';
    margin: 0;
}

nav {
    width: 100%;
    height: 64px;
    @include center-flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
    h1 {
        font-size: 2.25em;
        font-family: 'Shrikhand';
        color: black;
        text-decoration: none;
    }
}

.hero-header {
    background: #f6f6f6;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    padding-bottom: 3em;
    h2 {
        text-align: center;
        width: 80%;
    }
    p {
        width: 80%;
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 1.75em;
    }
    
}

button {
    background: linear-gradient(0deg, var(--primary-purple) 0%, var(--secondary-pink) 100%);
    color: #fff;
    border-radius: 25px;
    border: none;
    padding: 1em;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.3);
    transition: 0.5s;
    font-weight: 500;
    font-size: 16px;
    
    &:hover {
        transform: scale(1.1);
    }
}
// SPECIFIC CLASSES

.location {
    background: #EAEAEA;
    width: 100%;
    height: 50px;
    @include center-flex;
    flex-direction: row;
    font-weight: 500;
    color: #353535;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 8;

    svg {
        margin-right: 0.75em;
        fill: #353535;
    }
}

.fonctionnement, .restaurants {
    padding: 4em 1em;
    display: flex;
    flex-wrap: wrap;
    & h2 {
        margin-bottom: 1em;
    }
}



.restaurants {
    background-color: #f6f6f6;
}

.tuto-card {
    width: 100%;
    height: 72px;
    background-color: #f6f6f6;
    margin: 1em 0;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'roboto';
    font-size: 16px;
    font-weight: 500;
}

.restaurants a {
    width: 100%;
    text-decoration: none;
    color: inherit;
}

.card {
    width: 100%;
    border-radius: 20px;
    margin: 0.5em 0;
    background-color: #fff;
    img {
        object-fit: cover;
        width: 100%;
        height: 160px;
        border-radius: 20px 20px 0px 0px;
    }
    p {
        padding: 0 0.75em;
        font-family: 'roboto';
        font-weight: 300;
        font-size: 17px;
        b {
            font-weight: 700;
            font-size: 18px;
        }
    }
}

.restaurants .card {
    height: 250px;
}

footer {
    background-color: #353535;
    color: #fff;
    padding: 1.5em;
    h1 {
        margin: 0;
        font-family: 'shrikhand';
        font-size: 18px;
        font-weight: 400;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        b {
            font-weight: 500;
        }
    }
}





.menu {
    padding: 1em;
    border-radius: 40px;
    background-color: #f6f6f6;
    position: relative;
    bottom: 3.5em;
}

.hero-image {
    width: 100%;
}

.menu {
    h1 {
        font-size: 28px;
        font-weight: 400;
        font-family: 'Shrikhand';
        color: black;
        text-decoration: none;
        margin-bottom: 1em;
    }
    h2 {
        font-family: 'roboto';
        font-weight: 300;
        font-size: 16px;
        text-transform: uppercase;
    }
    .card {
        padding: 1em 0;
        p {
            margin: 0;
            font-family: 'roboto';
                font-weight: 300;
                font-size: 15px;
                padding: 0 1em;
            b {
                font-weight: 500;
                font-size: 18px;
            }
        }
        .menu-card-check {
            background-color: var(--tertiary-green);
            width: 0;
            height: 100%;
        }
        &:hover {
            .menu-card-check {
                width: 200px;
            }
        }
    }
    button {
        margin: 0 auto;
        display: flex;
    }
} 

.menu-section {
    margin-bottom: 2em;
}

